.plansScreen_plans {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    opacity: 0.8;
}

.plansScreen_plans:hover {
    opacity: 1;
}

.plansScreen_plans > button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #e50914;
}

.plansScreen_plan--disabled > button {
    background-color: gray !important;
}